@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300px;
    background-color: black;
    background-image: url('../images/milky_way.jpg');
    color: rgb(182, 182, 0);
    text-align: center;
    letter-spacing: 3px;
}

header {
    font-family: Comic+Neue, sans-serif;
    font-weight: 300px;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}
#page-nav {
    font-size: 150%;
    list-style: none;
    padding: 25px 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

#page-nav li {
    display: inline;
    margin-right: 50px;
}

#page-nav a:hover {
    color:red;
}

p {
    text-align: left;
    margin-right: 30%;
    margin-left: 30%;
}

table {
    width: 33%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}


th {
    border-left: 1px solid rgb(182, 182, 0);
    border-bottom: 1px solid rgb(182, 182, 0);
}

td {
    border-left: 1px solid rgb(182, 182, 0);
}

.border-remove {
    border-bottom: none;
}

.bold-upper {
    text-decoration: bold;
    text-transform: uppercase;
}

#game h2 {
    display:inline;
    margin-right:5%;
    margin-left: 5%;
}

.float-right {
    float:right;
}